<div class="col-xs-12 col-sm-4">
<h4>When <%= Task::TASK_ALIAS.downcase %> is starting:</h4>
<ul class="list" >
  <% if !@task.pre_monitoring_actions.nil? %>
	  <% @task.pre_monitoring_actions.each do |action| %>
	  <li><%= action %></li>
	  <% end %>
  <% end %>
</ul>
</div>

<div class="col-xs-12 col-sm-4">
<h4>While <%= Task::TASK_ALIAS.downcase %> is in progress:</h4>
<ul class="list">
  <% if !@task.during_monitoring_actions.nil? %>
	  <% @task.during_monitoring_actions.each do |action| %>
	  <li><%= action %></li>
	  <% end %>
  <% end %>
</ul>
</div>

<div class="col-xs-12 col-sm-4">
<h4>When <%= Task::TASK_ALIAS.downcase %> is completing:</h4>
<ul class="list">
  <% if !@task.post_monitoring_actions.nil? %>
	  <% @task.post_monitoring_actions.each do |action| %>
	  <li><%= action %></li>
	  <% end %>
  <% end %>
</ul>
</div>