<div class="col-xs-12">
  <h3>Tell us what to monitor</h3>
  <p style="font-size: 1.1em;"><strong>NOTE:</strong> For your convenience, when you create a <%= Task::TASK_ALIAS.downcase %>, we enable some options by default, based on your <%= Task::TASK_ALIAS.downcase %> definition. You may change any settings on this form to meet your needs.</p>
</div>

<h4 class="col-xs-12" style="padding-top:10px;">As the <%= Task::TASK_ALIAS.downcase %> is starting:</h4>

    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :identify_photo_at_door %></div>
      <div class = 'col-xs-4'><%= f.label :identify_photo_at_door, 'Verify identity' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the verify identity option is checked, TaskAssure will confirm the person's identity using facial recognition.</span></a>
      </div>
    </div>
  
    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :verify_startime %></div>
      <div class = 'col-xs-4'><%= f.label :verify_startime, 'Verify start time' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the verify start time option is checked, TaskAssure verifies that the start time of the <%= Task::TASK_ALIAS.downcase %> is within the schedule you requested. You can set how early the <%= Task::TASK_ALIAS.downcase %> can start and how late the <%= Task::TASK_ALIAS.downcase %> can start.</span></a>
      </div>
    </div>

    <div class="row">
     <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <%= f.label :minutes_before, "If verifying start time, how EARLY can #{Task::TASK_ALIAS.downcase} start?" %>
        <%= f.text_field :minutes_before, :size => 5 %>
        <%= f.select :time_before_units, options_for_select(['minutes', 'hours', 'days'], @task.time_before_units || 'minutes'), {}, {:class=>"ta-form-widget"} %>
      </div>
     </div>
      
     <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <%= f.label :minutes_after, "If verifying start time, how LATE can #{Task::TASK_ALIAS.downcase} start?" %>        
        <%= f.text_field :minutes_after , :size => 5  %>
        <%= f.select :time_after_units, options_for_select(['minutes', 'hours', 'days'], @task.time_after_units || 'minutes'), {}, {:class=>"ta-form-widget"} %>
      </div>      
     </div>
    </div>

     <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :verify_location %></div>
      <div class = 'col-xs-4'><%= f.label :verify_location, 'Verify start location' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the verify location option is checked, TaskAssure verifies the <%= Task::TASK_ALIAS.downcase %> is started at the address provided in the <%= Task::TASK_ALIAS.downcase %> definition.</span></a>
      </div>
     </div>

    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :verify_password %></div>
      <div class = 'col-xs-4'><%= f.label :verify_password, 'Provide password' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the provide password option is checked, TaskAssure displays your password on the mobile phone app of the person performing the <%= Task::TASK_ALIAS.downcase %> so that they can tell it to someone at the <%= Task::TASK_ALIAS.downcase %> location.</span></a>
      </div>
    </div>    
      
    <div class="form-group row">    
      <div class="col-xs-11 col-xs-offset-1">
        <%= f.label :password, "Enter a password that the #{MyHelperList::HELPER_ALIAS.downcase} will receive to help verify identity." %>    
        <%= f.text_field :password, :size => 20 %>
      </div>
    </div>
	<div class="clearfix"></div>

    <h4 class="col-xs-12" style="padding-top:10px;">During the <%= Task::TASK_ALIAS.downcase %>:</h4>

     <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :track_location_during %></div>
      <div class = 'col-xs-4'><%= f.label :track_location_during, 'Track location' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the track location option is checked, TaskAssure monitors the location of the person performing the <%= Task::TASK_ALIAS.downcase %> and collects position reports so that you know where they were during the <%= Task::TASK_ALIAS.downcase %>.</span></a>
      </div>
     </div>

     <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :take_completed_photo %></div>
      <div class = 'col-xs-4'><%= f.label :take_completed_photo, 'Collect photographs' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the collect photographs option is checked, TaskAssure lets the person know that you want photographs of the work. You should advise the person what sort of photographs you want.</span></a>
      </div>
     </div>

    <div class="form-group row">
      <div class="col-xs-11 col-xs-offset-1">
        <%= f.label :minimum_photos, 'How many photographs at a minimum do you want?' %>
        <%= f.text_field :minimum_photos, :size => 5 %>    
      </div> 
    </div>  

    <h4 class="col-xs-12" style="padding-top:10px;">As the <%= Task::TASK_ALIAS.downcase %> is being completed:</h4>
    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :verify_endtime %></div>
      <div class = 'col-xs-4'><%= f.label :verify_endtime, 'Verify completion time' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the verify completion time option is checked, TaskAssure verifies that the time the <%= Task::TASK_ALIAS.downcase %> is completed is within the expected time. You can set how early the <%= Task::TASK_ALIAS.downcase %> can complete and how late the <%= Task::TASK_ALIAS.downcase %> can complete.</span></a>
      </div>
    </div>

    <div class="row">
     <div class="form-group">  
      <div class="col-xs-11 col-xs-offset-1">
        <%= f.label :complete_time_before, "If verifying completion time, how EARLY can #{Task::TASK_ALIAS.downcase} complete?" %>  
        <%= f.text_field :complete_time_before , :size => 5  , :readOnly => (:complete_time_before? ? false : true) %>
        <%= f.select :complete_time_before_units, options_for_select(['minutes', 'hours', 'days'], @task.complete_time_before_units || 'minutes'), {}, {:class=>"ta-form-widget"} %>
      </div>
     </div>
    
     <div class="form-group">
      <div class="col-xs-11 col-xs-offset-1">
        <%= f.label :complete_time_after, "If verifying completion time, how LATE can #{Task::TASK_ALIAS.downcase} complete?" %>    
        <%= f.text_field :complete_time_after , :size => 5 , :readOnly => (:complete_time_after? ? false : true) %>
        <%= f.select :complete_time_after_units, options_for_select(['minutes', 'hours', 'days'], @task.complete_time_after_units || 'minutes'), {}, {:class=>"ta-form-widget"} %>
      </div>
     </div>
    </div>
    <p>&nbsp;</p>

    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :verify_stop_location %></div>
      <div class = 'col-xs-4'><%= f.label :verify_stop_location, 'Verify location at completion' %></div>   
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>If the verify location at completion option is checked, TaskAssure verifies if the the person completes the <%= Task::TASK_ALIAS.downcase %> at the address specified in the <%= Task::TASK_ALIAS.downcase %> definition.</span></a>
      </div>
    </div>
        
<div class="col-xs-12">
  <h3>Tell us what notifications to send</h3>
  <p style="font-size: 1.1em;"><strong>NOTE:</strong> If you do not want to be alerted about <%= Task::TASK_ALIAS.downcase %> status changes, the system will still verify the <%= Task::TASK_ALIAS.downcase %> activities according to the options you select above. You can view a log of events, photographs, and a map of locations from the <%= Task::TASK_ALIAS.downcase %> show page.</p>
  <h4>Notify me when <%= Task::TASK_ALIAS.downcase %> status changes occur by:</h4>
</div>

    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :email_notifications_status_changes %></div>
      <div class = 'col-xs-4'><%= f.label :email_notifications_status_changes, 'Email message' %></div>     
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>TaskAssure can send an email to advise you for each change in <%= Task::TASK_ALIAS.downcase %> status.</span></a>
      </div>
    </div>
    <div class="form-group row">
      <div class = 'col-xs-1'><%= f.check_box :text_message_status_changes %></div>
      <div class = 'col-xs-4'><%= f.label :text_message_status_changes, 'Text message' %></div>
      <div class="col-xs-1">
        <a href="#" class="tooltip" tabindex="-1"><%= image_tag('tooltip.png', alt:'help text') %><span><%= image_tag('callout.gif', :class => 'callout') %>TaskAssure can send you a text message for each change in <%= Task::TASK_ALIAS.downcase %> status. <strong>NOTE:</strong>Depending on your mobile phone subscription, your provider may charge for text messages.</span></a>
      </div>
    </div>

<div class="col-xs-12">
  <h3>Would you like to save these as default settings?</h3>
  <p style="font-size: 1.1em;">If you check the box below, the settings selected above will become the default for future <%= Task::TASK_ALIAS.downcase.pluralize %> that you create. No existing <%= Task::TASK_ALIAS.downcase.pluralize %> will be changed, only new <%= Task::TASK_ALIAS.downcase.pluralize %> will default to these settings. You will be able to change the settings on any future <%= Task::TASK_ALIAS.downcase %>, just as you did above.</p>
</div>

    <div class="form-group">
      <div class="col-xs-12 col-sm-8">
         <%= check_box_tag :default_verification, true %>&nbsp;&nbsp;<strong>Use these settings for new <%= Task::TASK_ALIAS.downcase.pluralize %></strong><br/><br/>
      </div>
    </div>
