<h1>Create <%= MyHelperList::HELPER_ALIAS %> </h1>
  <div class="col-xs-12">
  <p style="font-size:smaller;">You can optionally provide information below about this <%= MyHelperList::HELPER_ALIAS.downcase %>. The <%= MyHelperList::HELPER_ALIAS.downcase %> can later update the information from their account.</p>
<%= form_for @taskassure_user, :url => url_for(:controller => 'taskassure_users', :action => 'create_helper'), :remote => true do |f| %> <!--,:url => url_for(:controller => 'taskassure_users', :action => 'create_helper')-->
  <% if @taskassure_user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @taskassure_user.errors.full_messages %>
          <li><%= replace_labels_using_env(message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email,:value => params[:email] ,:disabled => true %>
    <%= f.hidden_field :email,:value => params[:email]  %>
  </p>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.select :country , options_from_collection_for_select(Country::COUNTRIES, 'iso', 'printable_name', Country::US.iso), {}, {:class=>"ta-form-widget"} %>
  </div>
  <br/>
  <p class="button">
    <%= link_to "Cancel",'javascript:void(0)' , :id => "close_facebox",:class => "btn btn-default"%> |
    <%= f.submit "Create #{MyHelperList::HELPER_ALIAS}", :class => "btn btn-primary" , :id => "ck2" %>

  </p>

<% end %>
</div>

<script type='text/javascript'>

jQuery(document).ready(function () {
  $('#close_facebox').bind("click",function() {
  $(document).trigger('close.facebox')
  });

  
  $('#ck2').click(function() {
  var a =  confirm('Create a TaskAssure account for ' + document.getElementById('taskassure_user_email').value + '? We will send an email notifying this person that you created an account for them. You will receive a copy of the email.')

  if (a){
    $("#provider_not_present").empty();
    return true;
  }
  else{
    return false;
  }
 });
});


</script>