<div class="col-sm-12">
  <h2>Save <%= UserLocation::LOCATION_ALIAS %></h2>
  <p>Current <%= Task::TASK_ALIAS.downcase %> address will be saved as a new <%= UserLocation::LOCATION_ALIAS.downcase %>.</p>
</div>
<%= form_for @user_location, :html => {:class => 'form-horizontal'} ,:remote => true do |f| %>
  <% if @user_location.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user_location.errors.count, "error") %> prohibited this <%= UserLocation::LOCATION_ALIAS.downcase %> from being saved:</h3>

        <ul>
        <% @user_location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Name:", :class => "control-label col-xs-2" %>
    <div class="col-xs-10"><%= f.text_field :name,  :class => 'form-control',:placeholder => "Enter a name for this #{UserLocation::LOCATION_ALIAS.downcase}" %></div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Address:", :class=>"control-label col-xs-3" %>
    <div class="col-xs-9"><%= f.text_field :address, :readonly => true, :class => 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :city, "City:", :class=>"control-label col-xs-3" %>
    <div class="col-xs-9"><%= f.text_field :city, :readonly => true, :class => 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :state, "State or Region:", :class=>"control-label col-xs-3" %>
    <div class="col-xs-9"><%= f.text_field :state, :readonly => true, :class => 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :zipcode, "Postal or Zip Code:", :class=>"control-label col-xs-3" %>
    <div class="col-xs-9"><%= f.text_field :zipcode, :readonly => true, :class => 'form-control' %></div> 
  </div>
  <div class="form-group">
    <%= f.label :country, "Country:", :class=>"control-label col-xs-3" %>
    <div class="col-xs-9"><%= f.text_field :country, :readonly => true, :class => 'form-control' %></div>
  </div>

  <div class="col-xs-12" align="center" style="padding-top:20px;" >
    <%= link_to "Cancel",'javascript:void(0)' , :id => "close_facebox",:class => "btn btn-default"%> 
    &nbsp;&nbsp;&#124;&nbsp;&nbsp;
    <%= f.submit "Save #{UserLocation::LOCATION_ALIAS}", data: { disable_with: 'Saving...' } ,:class => "btn btn-primary"%>
  </div>

<% end %>

<script type="text/javascript">
jQuery(document).ready(function () {
    $('#close_facebox').bind("click",function() {
  $(document).trigger('close.facebox')
  });

document.getElementById("user_location_address").value = document.getElementById("task_address").value;
document.getElementById("user_location_city").value = document.getElementById("task_city").value;
document.getElementById("user_location_state").value = document.getElementById("task_state").value;
document.getElementById("user_location_zipcode").value = document.getElementById("task_zipcode").value;
document.getElementById("user_location_country").value = document.getElementById("country").value;

});
</script>
