<div class="col-xs-12"><h2><%= @page_title = "#{UserLocation::LOCATION_ALIAS}" %></h2></div>

<div class="clearfix" >
<div class="col-xs-3 col-sm-2 page-label">Name:</div>
<div class="col-xs-9 col-sm-10"><%= @user_location.name %></div>
</div>

<div class="clearfix" >
<div class="col-xs-3 col-sm-2 page-label">Address:</div>
<div class="col-xs-9 col-sm-10"><%= @user_location.address %></div> 
</div>

<div class="clearfix" >
<div class="col-xs-3 col-sm-2 page-label">City:</div>
<div class="col-xs-9 col-sm-10"><%= @user_location.city  %></div>
</div>

<div class="clearfix" >
<div class="col-xs-3 col-sm-2 page-label">State:</div>
<div class="col-xs-9 col-sm-10"><%= @user_location.state  %></div>
</div>

<div class="clearfix" >
<div class="col-xs-3 col-sm-2 page-label">Zip Code:</div>
<div class="col-xs-9 col-sm-10"><%= @user_location.zipcode  %></div>
</div>

<div class="clearfix" >
<div class="col-xs-3 col-sm-2 page-label">Country:</div>
<div class="col-xs-9 col-sm-10"><%= @user_location.country %></div>
</div>

<div class="clearfix"></div>
<div class="col-xs-12" align="center" >
  <%= link_to "My #{UserLocation::LOCATION_ALIAS.pluralize}", user_locations_path, :class => "btn btn-primary"%>
</div>