<div class="col-xs-12 col-sm-9 col-md-8"><h2><%= @page_title = "My #{MyHelperList::HELPER_ALIAS.pluralize}" %></h2></div>
<div class="col-xs-12 col-sm-3 col-md-4" align="right">
  <%= link_to "Create #{MyHelperList::HELPER_ALIAS}", new_my_helper_list_path, :class => "btn btn-primary" %>
</div>

 <!-- Edit this to work with helpers list pagination -->
<% if @my_helper_lists.total_count == 0 %>
  <div class ="col-xs-12"><h3>No saved <%= MyHelperList::HELPER_ALIAS.pluralize %></h3></div>
<% else %>

  <div class="col-xs-12">
    <h3><%= MyHelperList::HELPER_ALIAS.pluralize %> (<%= @my_helper_lists.total_count %>)</h3>
  </div>
 
  <div class="clearfix">
    <div id="idOfDiv" class="page-pagination">
      <div class="col-sm-6"><%= page_entries_info @my_helper_lists, :entry_name => "#{MyHelperList::HELPER_ALIAS}" %></div>
      <div class="col-sm-6" align="right"><%= paginate @my_helper_lists %>&nbsp;&nbsp;</div>
    </div>
  </div>

  <div class="hidden-xs hidden-sm col-md-3 col-lg-2 page-label">Name</div>
  <div class="hidden-xs hidden-sm col-md-3 col-lg-2 page-label">Email</div>
  <div class="hidden-xs hidden-sm col-md-2 col-lg-2 page-label">Phone</div>
  <div class="hidden-xs hidden-sm col-md-2 col-lg-2 page-label">City</div>
  <div class="hidden-xs hidden-sm col-md-2 col-lg-2 page-label">State</div>
  <div class="hidden-xs hidden-sm hidden-md col-lg-2" align="center page-label">Actions</div>
  <div class="col-xs-12 page-hr" align="center"><hr/></div>


  <% @my_helper_lists.each do |helper_list| %>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><%= helper_list.provider_user.try(:name).blank? ? "Name not provided" : helper_list.provider_user.name %></div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><%= helper_list.provider_user.try(:email).blank? ? "Email not provided" : helper_list.provider_user.email %></div>
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2"><%= helper_list.provider_user.try(:phone_number).blank? ? "Phone not provided" : helper_list.provider_user.phone_number %></div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2"><%= helper_list.provider_user.try(:city).blank? ? "City not provided" : helper_list.provider_user.city %></div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2"><%= helper_list.provider_user.try(:state).blank? ? "State not provided" : helper_list.provider_user.state %></div>
    <div class="col-sm-12 col-lg-2" align="center">
      <%= link_to 'Show', helper_list, :data => {:disable_with => "Loading..."} %>
  &nbsp;&#124;&nbsp;
      <%= link_to 'Edit', edit_my_helper_list_path(helper_list), :data => {:disable_with => "Loading..."} %>
  &nbsp;&#124;&nbsp;
      <%= link_to 'Delete', my_helper_list_path(helper_list), :data => {:disable_with => "Deleting...", :confirm => "Choose OK to Delete, or Cancel"}, method: :delete %>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 page-thin-hr" align="center"><hr/></div>
    <div class="clearfix"></div>

  <% end %>
  <div class="clearfix">
    <div id="idOfDiv2" class="page-pagination">
      <div class="col-sm-6"><%= page_entries_info @my_helper_lists, :entry_name => "#{MyHelperList::HELPER_ALIAS}" %></div>
      <div class="col-sm-6" align="right"><%= paginate @my_helper_lists %>&nbsp;&nbsp;</div>
    </div>
  </div>

<% end %>
